
body {
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.otp-form {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
}