.navitem{
    color:rgb(246, 11, 11) !important;
}
.navitem:hover{

    color: rgb(45, 45, 45) !important;

}

.sidebar-div {
    position: fixed !important ;;
    height:100% !important ;;
    background-color: rgb(255, 255, 255) !important;
}

.itemsdiv{
    border-radius: 10px;
    background-color: rgb(96, 96, 96)!important ;
    place-items: center !important ;
}

.itemsdiv:hover {
    display: grid!important ;
    place-items: center !important ;
    width: 200px!important ; 
    border: #ccc!important ;
    border-width: 10px!important ;
    background-color: rgb(102, 102, 102)!important ;
}

.icons-edit-delete{

    outline-style: groove;
    outline-color:rgb(180, 180, 180);
    color:blue;
}

