{% extends 'layout/base.html' %}
{% load static %}
<!-- Start Header/Navigation -->
{% block bootstraplink %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link href="{% static 'css/userprofile/custom_styles.css' %}" rel="stylesheet">
<link href="{% static 'css/userprofile/userprofile.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<style>
    .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
    }

    .edit-icon,
    .delete-icon {
        width: 100%;
        height: 100%;
        fill: none;
        stroke: black;
        stroke-width: 2;
    }

    .address-card {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .address-card h5 {
        margin-bottom: 5px;
    }

    .address-card p {
        margin-bottom: 8px;
    }

    .address-card a {
        color: #3498db;
        text-decoration: none;
    }

    .address-card a:hover {
        text-decoration: underline;
    }

    .icons-edit-delete {
        background-color: #EEEEEE;
        color: #fff;
        border: none;
        padding: 5px;
        margin-right: 5px;
        cursor: pointer;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <!-- Left Sidebar -->
        <nav class="col-lg-2 d-md-block sidebar">
            <div class="position-sticky">
                <div class="d-flex justify-content-center">
                    <h4 class="mt-4 ml-3" style="color: rgb(102, 0, 0); font-weight:1200;">Hi {{user.username}}</h4>
                </div>

                <ul class="nav flex-column">
                    <div class="itemsdiv mx-2 my-2">
                        <li class="nav-item">
                            <a class="nav-link navitem" href="{% url "user_profile" %}">
                                My Profile
                            </a>
                        </li>
                    </div>
                    <div class="itemsdiv mx-2 my-2">
                        <li class="nav-item">
                            <a class="nav-link navitem" href="{% url "my_orders" %}">
                                My Orders
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>

        <!-- Main Content -->

        <!-- <main class="ms-sm-auto px-md-4 mt-5"> -->

        <!-- Your content goes here -->
        <div class="user_info col-lg-5 px-md-4 mt-5">


            <div>
                <div class="d-flex justify-content-center col-lg-6">
                    <h4>User Info</h4>
                </div>

                <div class="card col-lg-12">
                    <div class="card-body">
                        <form method="POST" action="{% url 'edit_user_profile' user_id=user.id %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username"
                                    value="{{user.username}}">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" readonly class="form-control" id="email" name="email"
                                    value="{{user.email}}">
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number</label>
                                <input type="tel" class="form-control" id="phone_no" name="phone" value="{{user.phone}}">
                            </div>
                            <div class="d-flex justify-content-center col-lg-6 mt-2">
                                <button type="submit" class="btn btn-primary">
                                    SUBMIT
                                </button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="card mt-5 col-lg-4">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <h5>ADD YOUR ADDRESS HERE</h5>
                </div>

                <p class="card-text">
                <form method="POST" action="{% url 'add_address' user_id=user.id %}">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="RecipientName" class="form-label">Recipient Name:</label>
                                <input type="text" class="form-control" id="RecipientName" name="RecipientName" value="" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="house_no" class="form-label">House No:</label>
                                <input type="text" class="form-control" id="house_no" name="house_no" value="" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="street_name" class="form-label">Street Name:</label>
                                <input type="text" class="form-control" id="street_name" name="street_name" value=""
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Village" class="form-label">Village/City:</label>
                                <input type="text" class="form-control" id="Village" name="Village" value="" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="postal_code" class="form-label">Postal Code:</label>
                                <input type="text" class="form-control" id="postal_code" name="postal_code" value=""required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="district" class="form-label">District:</label>
                                <input type="text" class="form-control" id="district" name="district" value="" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="state" class="form-label">State:</label>
                                <input type="text" class="form-control" id="state" name="state" value="" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="country" class="form-label">Country:</label>
                                <input type="text" class="form-control" id="country" name="country" value="" required>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center col-lg-12 mt-2">
                        <button type="submit" class="btn btn-primary">
                            Save the Address
                        </button>
                    </div>
                </form>

            </div>
        </div>

        <div class="d-flex justify-content-center">
            <h2 class="card-title mt-5">Address Details</h2>
        </div>

        
        
        


        {% comment %} <div class="row justify-content-around">

            <div class="mt-5 d-flex row mx-5">
                {% for addres in address %}
                <div class="col-lg-2 col-md-1  mx-3">
                    <div>
                      
                        {% if addres.is_default is True %}
                        <h5>Address-{{ forloop.counter }}</h5><p>( default address)</p>
                        
                        {% else %}
                        <h5>Address-{{ forloop.counter }}</h5>
                        <div class="mb-5"></div>
                        {% endif %}
                    </div>

                    <div class="mt-2 card coloumn col-md-12">
                        <div class="card-body">
                            <h5 class="card-title" style="color:black;"><strong>{{ address.recipient_name }}</strong>
                            </h5>
                            <p class="card-text">
                                {{ addres.house_no }}/{{ addres.street_name }}<br>
                                {{ addres.village_name }}<br>
                                {{ addres.postal_code }}/{{ addres.district }}<br>
                                {{ addres.state }}/{{ addres.country }}
                            </p>
                        </div>
                        <div class="justify-content-evenly">
                            {% comment %} <a href="{% url 'edit_address' address_id=address.id %}"> 
                            <button class="toggle-btn icons-edit-delete" data-toggle="modal"
                                data-target="#editAddressModal-{{forloop.counter}}">
                                <svg id="editIcon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20"
                                    height="50" viewBox="0 0 24 24">
                                    <path
                                        d="M14.5 5.5L3 17 3 21 7 21 18.5 9.5zM21.2 2.8c-1.1-1.1-2.9-1.1-4 0L16 4l4 4 1.2-1.2C22.3 5.7 22.3 3.9 21.2 2.8z">
                                    </path>
                                </svg>
                            </button>
                            <button>
                                <a href="{% url 'delete_address' address_id=addres.id %}">

                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="50"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z">
                                        </path>
                                    </svg>
                                </a>
                            </button>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> {% endcomment %}

        <div class="row justify-content-around">
            <div class="mt-5 d-flex row mx-5">
                {% for addres in address %}
                <div class="" style="width: 300px; padding-right: 10px;">
                    <div>
                        {% if addres.is_default is True %}
                        <h5>Address-{{ forloop.counter }}</h5>
                        <p>( default address)</p>
                        {% else %}
                        <h5>Address-{{ forloop.counter }}</h5>
                        <div class="mb-5"></div>
                        {% endif %}
                    </div>
        
                    <div class="mt-2 card coloumn col-md-12 address-card" style=" width: 600px;"> <!-- Add the address-card class -->
                        <div class="card-body">
                            <h5 class="card-title" style="color:black;"><strong>{{ addres.recipient_name }}</strong></h5>
                            <p class="card-text">
                                {{ addres.house_no }}/{{ addres.street_name }}<br>
                                {{ addres.village_name }}<br>
                                {{ addres.postal_code }}/{{ addres.district }}<br>
                                {{ addres.state }}/{{ addres.country }}
                            </p>
                        </div>
                        <div class="justify-content-evenly">
                            <button class="toggle-btn icons-edit-delete" data-toggle="modal" data-target="#editAddressModal-{{forloop.counter}}">
                                <!-- Edit icon -->
                                <div class="icon-wrapper">
                                    <svg class="edit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M14.5 5.5L3 17 3 21 7 21 18.5 9.5zM21.2 2.8c-1.1-1.1-2.9-1.1-4 0L16 4l4 4 1.2-1.2C22.3 5.7 22.3 3.9 21.2 2.8z"/>
                                    </svg>
                                </div>
                            </button>
                            <button>
                                <a href="{% url 'delete_address' address_id=addres.id %}">
                                    <!-- Delete icon -->
                                    <div class="icon-wrapper">
                                        <svg class="delete-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z"/>
                                        </svg>
                                    </div>
                                </a>
                            </button>
                        </div>
                        
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!--Address Edit Modal -->
        {% for addres in address %}
        <div class="modal fade" id="editAddressModal-{{forloop.counter}}" tabindex="-1"
            aria-labelledby="editAddressModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Address Edit Form -->
                        <form method="POST" action="{% url 'edit_address' address_id=addres.id%}">
                            {% csrf_token %}


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="RecipientName" class="form-label">Recipient
                                            Name:</label>
                                        <input type="text" class="form-control" id="RecipientName" name="RecipientName"
                                            value="{{ addres.recipient_name }}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="house_no" class="form-label">House No:</label>
                                        <input type="text" class="form-control" id="house_no" name="house_no"
                                            value="{{ addres.house_no }}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="street_name" class="form-label">Street Name:</label>
                                        <input type="text" class="form-control" id="street_name" name="street_name"
                                            value="{{ addres.street_name }}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Village" class="form-label">Village/City:</label>
                                        <input type="text" class="form-control" id="Village" name="Village"
                                            value="{{ addres.village_name }}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="postal_code" class="form-label">Postal Code:</label>
                                        <input type="text" class="form-control" id="postal_code" name="postal_code"
                                            value="{{ addres.postal_code }}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="district" class="form-label">District:</label>
                                        <input type="text" class="form-control" id="district" name="district"
                                            value="{{ addres.district }}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="state" class="form-label">State:</label>
                                        <input type="text" class="form-control" id="state" name="state"
                                            value="{{ addres.state }}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="country" class="form-label">Country:</label>
                                        <input type="text" class="form-control" id="country" name="country"
                                            value="{{ addres.country }}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-2">
                                <button type="submit" class="btn btn-primary">
                                    Save Changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}




        <!-- </main> -->
    </div>
</div>

<!-- this modal is for selecting default address for user -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Select the default address</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <form method="POST" action="{% url 'default_address'%}">
                    {% csrf_token %}
                    <div class="mt-2">

                        <select class="form-select" id="default_address_select" name="default_address">

                            <option selected disabled>Select an address</option>

                            {% for addres in address%}
                            <option value="{{addres.id}}">
                                {{addres.recipient_name}}/{{addres.house_no}}/{{addres.street_name}}/{{addres.village_name}}/{{addres.postal_code}}/{{addres.district}}/{{addres.state}}/{{addres.country}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->


        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}