{% extends 'layout/base.html' %}
{% load static %}
<!-- Start Header/Navigation -->
{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="{% static 'css/userprofile/userprofile.css' %}" rel="stylesheet">
{% endblock style %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Left Sidebar -->
        <nav class="col-lg-2 d-md-block sidebar">
            <div class="position-sticky">
                <div class="d-flex justify-content-center">
                    <h4 class="mt-4 ml-3" style="color: rgb(102, 0, 0); font-weight:1200;">Hi {{user.username}}</h4>
                </div>

                <ul class="nav flex-column">
                    <div class="itemsdiv mx-2 my-2">
                        <li class="nav-item">
                            <a class="nav-link navitem" href="{% url 'user_profile'%}">
                                My Profile
                            </a>
                        </li>
                    </div>
                    <div class="itemsdiv mx-2 my-2">
                        <li class="nav-item">
                            <a class="nav-link navitem" href="{% url 'my_orders'%}">
                                My Orders
                            </a>
                        </li>
                    </div>
                    
                    <div class="itemsdiv mx-2 my-2">
                        <li class="nav-item">
                            <a class="nav-link navitem" href="{% url 'wishlist_view'%}">
                                Wishlist
                            </a>
                        </li>
                    </div>
                    <div class="itemsdiv mx-2 my-2">
                        <li class="nav-item">
                            <a class="nav-link navitem" href="{% url 'change_password' %}">
                                change password
                            </a>
                        </li>
                    </div>
                    <div class="itemsdiv mx-2 my-2">
                        <li class="nav-item">
                            <a class="nav-link navitem" href="{% url 'user_wallet' %}">
                                Wallet
                            </a>
                        </li>
                    </div>  
                </ul>
            </div>
        </nav>

        <!-- Main Content -->

        <!-- <main class="ms-sm-auto px-md-4 mt-5"> -->

        <!-- Your content goes here -->
        <div class="user_info col-lg-5 px-md-4 mt-5">


            <div>
                <div class="d-flex justify-content-center col-lg-6">
                    <h4>User Info</h4>
                </div>
                <p class="text-danger" id="alert_tag"></p>
                <div class="card col-lg-12">
                    <div class="card-body">
                        {% if user.id%}
                        <form method="POST" action="{% url 'edit_user_profile' user_id=user.id %}" id="userDetailsForm">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" pattern="[A-Za-z]+"
                                    value="{{users.username}}">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" readonly class="form-control" id="email" name="email"
                                    value="{{users.email}}">
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number</label>
                                <input type="tel" class="form-control" id="phone" name="phone"  pattern="[0-9]{10}" value="{{users.phone}}">
                            </div>
                            <div class="d-flex justify-content-center col-lg-6 mt-2">
                                <button type="submit" class="btn btn-primary">
                                    submit
                                </button>

                            </div>
                        </form>
                        {%endif%}
                    </div>
                    

                </div>
                <div class="col-lg-12">
                    <div class="text-center mt-3">
                        <p>Referral Code: <span id="referral-code">{{ user.referral_code }}</span>
                            <button id="k" type="button" onclick="ajay('{{ user.referral_code }}')"
                                style="border: 0; background-color: rgb(206, 204, 202); border-radius: 10px;"
                                class="p-1 copy-button">Copy</button>
                        </p>
                    </div>
                </div>


            </div>
        </div>
        <!-- 7777777777777777777777777777777777777777777777777777777777777777777 -->
        <div class="card mt-5 col-lg-4">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <h5>ADD YOUR ADDRESS HERE</h5>
                </div>
                <p class="text-danger" id="alert_tags"></p>
                <p class="card-text">
                <form method="POST" action="{% url 'add_address' user_id=user.id %}" id="UserAddressForm">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="RecipientName" class="form-label">Recipient Name:</label>
                                <input type="text" class="form-control" id="RecipientName" name="RecipientName" value=""
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="house_no" class="form-label">House No:</label>
                                <input type="text" class="form-control" id="house_no" name="house_no" value="" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="street_name" class="form-label">Street Name:</label>
                                <input type="text" class="form-control" id="street_name" name="street_name" value=""
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Village" class="form-label">Village/City:</label>
                                <input type="text" class="form-control" id="Village" name="Village" value="" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="postal_code" class="form-label">Postal Code:</label>
                                <input type="text" class="form-control" id="postal_code" name="postal_code" pattern="[1-9]\d{5}" value=""
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="district" class="form-label">District:</label>
                                <input type="text" class="form-control" id="district" name="district" value="" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="state" class="form-label">State:</label>
                                <input type="text" class="form-control" id="state" name="state" value="" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="country" class="form-label">Country:</label>
                                <input type="text" class="form-control" id="country" name="country" value="" required>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center col-lg-12 mt-2">
                        <button type="submit" class="btn btn-primary">
                            Save the Address
                        </button>
                    </div>
                </form>

            </div>
        </div>

      
        {% if not address %}
        <div class=" d-flex justify-content-center mt-4">
            <h6>Add an address using above form</h6>
        </div>
        {% else %}
        <!-- <div class=" d-flex justify-content-center mt-4 ">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal"  style="height: 70px; margin-left:17em ">
                Select default address
            </button>
        </div> -->
        


        <div class="row justify-content-around">

            <div class="d-flex justify-content-center">
                <h2 class="card-title mt-5">Address Details</h2>
            </div>

            <div class="mt-5 d-flex row mx-5">
                {% for address in address %}
                <div class="col-lg-2 col-md-1  mx-3">
                    <div>

                        {% if address.is_default is True %}
                        <h5>Address-{{ forloop.counter }}</h5>
                        <p>( default address)</p>

                        {% else %}
                        <h5>Address-{{ forloop.counter }}</h5>
                        <div class="mb-5"></div>
                        {% endif %}
                    </div>

                    <div class="mt-2 card coloumn col-md-12" style="width:86em" >
                        <div class="card-body>
                            <h5 class="card-title" style="color:black;"><strong>{{ address.recipient_name }}</strong>
                            </h5>
                            <p class="card-text">
                                {{ address.house_no }}/{{ address.street_name }}<br>
                                {{ address.village_name }}<br>
                                {{ address.postal_code }}<br>
                                {{ address.district }}<br>
                                {{ address.state }}/{{ address.country }}
                            </p>
                        </div>
                        <div class="justify-content-evenly">
                            <!-- <a href="{% url 'edit_address' address_id=address.id %}"> -->
                            <button class="toggle-btn icons-edit-delete" data-toggle="modal"
                                data-target="#editAddressModal-{{forloop.counter}}"
                                style="border:none; border-radius:20px; outline:none; ">
                                <svg id="editIcon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20"
                                    height="50" viewBox="0 0 24 24">
                                    <path
                                        d="M14.5 5.5L3 17 3 21 7 21 18.5 9.5zM21.2 2.8c-1.1-1.1-2.9-1.1-4 0L16 4l4 4 1.2-1.2C22.3 5.7 22.3 3.9 21.2 2.8z">
                                    </path>
                                </svg>
                            </button>
                            {% comment %} <button style="border-radius:20px; border:none;">
                                <a href="{% url 'delete_address' address_id=address.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="50"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z">
                                        </path>
                                    </svg>
                                </a>
                            </button> {% endcomment %}
                            <button style="border-radius:20px; border:none;" onclick="confirmDelete({{ address.id }})">
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="50" viewBox="0 0 24 24">
                                        <!-- SVG path -->
                                        <path
                                            d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z">
                                        </path>
                                    </svg>
                                </a>
                            </button>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!--Address Edit Modal -->
        {% for address in address %}
        <div class="modal fade" id="editAddressModal-{{forloop.counter}}" tabindex="-1"
            aria-labelledby="editAddressModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Address Edit Form -->
                        <p class="text-danger" id="alert_message-{{address.id}}"></p>
                        <form method="POST" action="{% url 'edit_address' address_id=address.id%}" id="editAddressForm">
                            {% csrf_token %}

                                
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="RecipientName" class="form-label">Recipient
                                            Name:</label>
                                        <input type="text" class="form-control" id="RecipientName-{{ address.id }}" name="RecipientName"
                                            value="{{ address.recipient_name }}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="house_no" class="form-label">House No:</label>
                                        <input type="text" class="form-control" id="house_no-{{ address.id }}" name="house_no"
                                            value="{{ address.house_no }}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="street_name" class="form-label">Street Name:</label>
                                        <input type="text" class="form-control" id="street_name-{{ address.id }}" name="street_name"
                                            value="{{ address.street_name }}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Village" class="form-label">Village/City:</label>
                                        <input type="text" class="form-control" id="Village-{{ address.id }}" name="Village"
                                            value="{{ address.village_name }}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="postal_code" class="form-label">Postal Code:</label>
                                        <input type="text" class="form-control" id="postal_code-{{ address.id }}" name="postal_code" pattern="[1-9]\d{5}"
                                            value="{{ address.postal_code }}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="district" class="form-label">District:</label>
                                        <input type="text" class="form-control" id="district-{{ address.id }}" name="district"
                                            value="{{ address.district }}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="state" class="form-label">State:</label>
                                        <input type="text" class="form-control" id="state-{{ address.id }}" name="state"
                                            value="{{ address.state }}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="country" class="form-label">Country:</label>
                                        <input type="text" class="form-control" id="country-{{ address.id }}" name="country"
                                            value="{{ address.country }}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-2">
                                <button type="submit" class="btn btn-primary" data-id="{{address.id}}">
                                    Save Changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        {% endif %}





        <!-- </main> -->
    </div>
</div>


<!-- change password  -->

<!-- Modal -->
{% comment %} <div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="{% url "change-password" %}" method="POST">
                {%csrf_token%}
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</div> {% endcomment %}



{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function ajay(i) {
        console.log(i)
        navigator.clipboard.writeText(i);
        const copyButton = document.getElementById('k');
        copyButton.textContent = "Copied!";
        setTimeout(() => {
            copyButton.textContent = "Copy";
        }, 5000);
    };
</script>

<script>
    function confirmDelete(addressId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this address!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel',
        }).then((result) => {
            if (result.isConfirmed) {
                // If the user clicks "Yes, delete it!", redirect to the delete URL
                window.location.href = `/user_profile/user-delete-address/${addressId}/`;

            }
        });

        // Prevent the default behavior of the anchor (following the link)
        return false;
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
<script>
    $(document).ready(function () {
        document.getElementById('alert_tag');

        $("#userDetailsForm").submit(function (event) {
            // Prevent the form from submitting
            event.preventDefault();

            // Perform your validation here
            if (validateForm()) {
                // If the form is valid, you can submit it
                console.log("Form is valid. Submitting...");


                $(this).unbind('submit').submit();
            } else {
                console.log("Form is not valid. Please check your inputs.");
            }
        });

        function validateForm() {
            // Implement your validation logic here
            var username = $("#username").val();
            // Match the ID here

            // Example validation - You should customize this based on your requirements
            if (username.length < 5) {
                console.log("username");
                document.getElementById('alert_tag').innerHTML = "Username must be at least 5 characters long."
                //alert("Username must be at least 3 characters long.");
                return false;
            }
            if (!isValidUsername(username)) {
                document.getElementById('alert_tag').innerHTML = "Invalid username"
                return false;
            }


            return true;
        }
        function isValidUsername(username) {
            //Basic username validation using a regular expression
            var usernameregex = /^\S*$/
            return usernameregex.test(username);
        }



    });

</script>

<script>
    $(document).ready(function () {
        document.getElementById('alert_tag');

        $("#UserAddressForm").submit(function (event) {
            // Prevent the form from submitting
            event.preventDefault();

            // Perform your validation here
            if (validateForm()) {
                // If the form is valid, you can submit it
                console.log("Form is valid. Submitting...");


                $(this).unbind('submit').submit();
            } else {
                console.log("Form is not valid. Please check your inputs.");
            }
        });

        function validateForm() {
            // Implement your validation logic here
            var RecipientName = $("#RecipientName").val();
            var house_no = $("#house_no").val();
            var street_name = $("#street_name").val();
            var Village = $("#Village").val();
            var postal_code = $("#postal_code").val();
            var district = $("#district").val();
            var state = $("#state").val();
            var country = $("#country").val();
            // Match the ID here

            // Example validation - You should customize this based on your requirements
            if (RecipientName.length < 5) {
                console.log("username");
                document.getElementById('alert_tags').innerHTML = "Recipient name must be at least 5 characters long."
                //alert("Username must be at least 3 characters long.");
                return false;
            }
            if (!isValidname(RecipientName)) {
                document.getElementById('alert_tags').innerHTML = "Invalid name"
                return false;
            }
            if (!isValidHouseno(house_no)) {
                document.getElementById('alert_tags').innerHTML = "Invalid house no"
                return false;
            }
            if (!isValidstreet_name(street_name)) {
                document.getElementById('alert_tags').innerHTML = "Invalid street name"
                return false;
            }
            if (!isValidVillage(Village)) {
                document.getElementById('alert_tags').innerHTML = "Invalid Village name"
                return false;
            }

            if (!isValidpostal_code(postal_code)) {
                document.getElementById('alert_tags').innerHTML = "Invalid Postal Code"
                return false;
            }
            if (!isValiddistrict(district)) {
                document.getElementById('alert_tags').innerHTML = "Invalid district."
                return false;
            }

            if (!isValidstate(state)) {
                document.getElementById('alert_tags').innerHTML = "Invalid State"
                return false;
            }
            if (!isValidcountry(country)) {
                document.getElementById('alert_tags').innerHTML = "Invalid Country"
                return false;
            }

            console.log('hihihihiji')

            return true;
        }
        function isValidname(RecipientName) {
            //Basic username validation using a regular expression
            var usernameregex = /^[A-Za-z]+\S*$/
            return usernameregex.test(RecipientName);
        }
        function isValidstreet_name(street_name) {
            //Basic username validation using a regular expression
            var usernameregex = /^[A-Za-z]+\S*$/
            return usernameregex.test(street_name);
        }
        function isValidVillage(Village) {
            //Basic username validation using a regular expression
            var usernameregex = /^[A-Za-z]+\S*$/
            return usernameregex.test(Village);
        }
        function isValidpostal_code(postal_code) {
            //Basic username validation using a regular expression
            var usernameregex = /^[0-9]{6}\S*$/
            return usernameregex.test(postal_code);
        }

        function isValiddistrict(district) {
            //Basic username validation using a regular expression
            var usernameregex = /^[A-Za-z]+\S*$/
            return usernameregex.test(district);
        }
        function isValidstate(state) {
            //Basic username validation using a regular expression
            var usernameregex = /^[A-Za-z]+\S*$/
            return usernameregex.test(state);
        }
        function isValidcountry(country) {
            //Basic username validation using a regular expression
            var usernameregex = /^[A-Za-z]+\S*$/
            return usernameregex.test(country);
        }


        function isValidHouseno(house_no) {
            // Basic phone number validation using a regular expression
            var house_noregex = /^[0-9]\S*$/;
            return house_noregex.test(house_no);
        }


    });

</script>
<script>
    $(document).ready(function () {
        document.getElementById('alert_message');
        console.log('hii')
        $('form[id^="editAddressForm"]').submit(function (event) {
            var form = $(this);
            var address_id = form.find("button[type='submit']").data("id");
        /*$("#editAddressForm").submit(function (event) {
            // Prevent the form from submitting
            var address_id = $(this).find("button[type='submit']").data("id");*/
            console.log(address_id)
            event.preventDefault();
            
            
            // Perform your validation here
            if (validateForm(form,address_id)) {
                // If the form is valid, you can submit it
                console.log("Form is valid. Submitting...");


                $(this).unbind('submit').submit();
            } else {
                console.log("Form is not valid. Please check your inputs.");
            }
        });
    

        function validateForm(form,address_id) {
            // Implement your validation logic here
            

            //var RecipientName = $("#RecipientName-"+address_id).val();
            var RecipientName = form.find("#RecipientName-" + address_id).val()
            var house_no = form.find("#house_no-" + address_id).val()
            var street_name = form.find("#street_name-" + address_id).val()
            var Village = form.find("#Village-" + address_id).val()
            var postal_code = form.find("#postal_code-" + address_id).val()
            var district = form.find("#district-" + address_id).val()
            var state = form.find("#state-" + address_id).val()
            var country = form.find("#country-" + address_id).val()
            /*var house_no = $("#house_no-"+address_id).val();
            var street_name = $("#street_name-"+address_id).val();
            var Village = $("#Village-"+address_id).val();
            var postal_code = $("#postal_code-"+address_id).val();
            var district = $("#district-"+address_id).val();
            var state = $("#state-"+address_id).val();
            var country = $("#country-"+address_id).val();*/
            console.log(country)
            // Match the ID here

            // Example validation - You should customize this based on your requirements
            if (RecipientName.length < 5) {
                console.log("username");
                document.getElementById('alert_message-'+address_id).innerHTML = "Recipient name must be at least 5 characters long."
                //alert("Username must be at least 3 characters long.");
                return false;
            }
            if (!isValidname(RecipientName)) {
                document.getElementById('alert_message-'+address_id).innerHTML = "Invalid name"
                return false;
            }
            if (!isValidHouseno(house_no)) {
                document.getElementById('alert_message-'+address_id).innerHTML = "Invalid house no"
                return false;
            }
            if (!isValidstreet_name(street_name)) {
                document.getElementById('alert_message-'+address_id).innerHTML = "Invalid street name"
                return false;
            }
            if (!isValidVillage(Village)) {
                document.getElementById('alert_message-'+address_id).innerHTML = "Invalid Village name"
                return false;
            }

            if (!isValidpostal_code(postal_code)) {
                document.getElementById('alert_message-'+address_id).innerHTML = "Invalid Postal Code"
                return false;
            }
            if (!isValiddistrict(district)) {
                document.getElementById('alert_message-'+address_id).innerHTML = "Invalid district."
                return false;
            }

            if (!isValidstate(state)) {
                document.getElementById('alert_message-'+address_id).innerHTML = "Invalid State"
                return false;
            }
            if (!isValidcountry(country)) {
                document.getElementById('alert_message-'+address_id).innerHTML = "Invalid Country"
                return false;
            }

            console.log('hihihihiji')

            return true;
        }
        function isValidname(RecipientName) {
            //Basic username validation using a regular expression
            var usernameregex = /^[A-Za-z]+\S*$/
            return usernameregex.test(RecipientName);
        }
        function isValidstreet_name(street_name) {
            //Basic username validation using a regular expression
            var usernameregex = /^[A-Za-z]+\S*$/
            return usernameregex.test(street_name);
        }
        function isValidVillage(Village) {
            //Basic username validation using a regular expression
            var usernameregex = /^[A-Za-z]+\S*$/
            return usernameregex.test(Village);
        }
        function isValidpostal_code(postal_code) {
            //Basic username validation using a regular expression
            var usernameregex = /^[0-9]{6}\S*$/
            return usernameregex.test(postal_code);
        }

        function isValiddistrict(district) {
            //Basic username validation using a regular expression
            var usernameregex = /^[A-Za-z]+\S*$/
            return usernameregex.test(district);
        }
        function isValidstate(state) {
            //Basic username validation using a regular expression
            var usernameregex = /^[A-Za-z]+\S*$/
            return usernameregex.test(state);
        }
        function isValidcountry(country) {
            //Basic username validation using a regular expression
            var usernameregex = /^[A-Za-z]+\S*$/
            return usernameregex.test(country);
        }


        function isValidHouseno(house_no) {
            // Basic phone number validation using a regular expression
            var house_noregex = /^[0-9]\S*$/;
            return house_noregex.test(house_no);
        }


    });

</script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"
        integrity="sha384-d4rRJz0K98v4uMsOSBudtAxZBE9PBYAz/ZU2tRXFMe3G3NO1LuhF1NOquU9bN6tY"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6xqjiJTQUOhc3lu5LZu6CEwY7px8Hzfs"
        crossorigin="anonymous"></script>



{% endblock %}