
{% load static %}

<div class="container" style="margin-top: 5%;margin-bottom: 25%;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="errortext"></div>
            {% if messages %}
            {% for message in messages %}
            <div style="color: red;">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3" style="padding-top: 1rem;">
                    <label for="exampleFormControlInput1" class="form-label">enter the otp You received in</label>
                    <input type="text" class="form-control" id="" name="user_otp" placeholder="Enter Otp" required>
                    <!-- <small id="fname-Error"></small> -->
                </div>
                <div class="mb-3" style="padding-top: 1rem;">
                    <button type="submit" class="btn btn-primary">Verify</button>
                </div>
                <!-- {% comment %} {% endif %} {% endcomment %} -->
            </form>
            <div class="mb-3" style="padding-top: 1rem;">
                Log in ?<a href="{% url 'register' %}">click here</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}