{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{% static 'css/accounts/forgot-password.css' %}" rel="stylesheet">
    <!-- Custom CSS for Styling -->
   
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h1>Forgot Password</h1>
                <p>Enter your email to reset your password.</p>
                
                <div class="text-danger d-flex justify-content-center mt-2">
                    
                </div>
                
                <div class="d-flex justify-content-center">
                    <form class="forgot-password-form" method="POST">
                        
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="container d-flex justify-content-around">
                            <button type="submit" class="btn btn-info btn-block mt-2">Reset Password</button>
                            <!-- Add a link to go back to login page if needed -->
                            <!-- <a href="{% url 'user_login' %}"><button class="btn btn-dark mt-2">Go back to login</button></a> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>
