{% extends "layout/base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <section class="vh-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 text-black">
            <div class="px-5 ms-xl-4">
              <i class="fas fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
              <span class="h1 fw-bold mb-0"></span>
            </div>
            <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
              <form method='POST' style="width: 23rem;">

            {% csrf_token %}
					  {% if messages %}
					    <div class="text-danger d-flex justify-content-center mt-2">
						{% for message in messages%}
						  {{message}}
						  {%endfor%}
					</div>
					{% endif %}
	
                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register</h3>
               
                
                <!-- Name Field -->
                <div class="form-group">
                  <label for="username"></label>
                  <input type="text" class="form-control"  
                  title="Please use only alphabets, numerals, and spaces. If entering a second name, separate it with a space."          
                  id="username" name="username" placeholder="What's your name?"
							    required>
                </div>
                
                <!-- Email Field -->
                <div class="form-group">
                  <label for="email"></label>
                  <input type="email" class="form-control"  pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
                  title="Please enter a valid email address."
                   id="email" name="email" placeholder="what's your email?" required>
                </div>
                
                <!-- Mobile No Field -->
                <div class="form-group">
                  <label for="number"></label>
                  <input type="tel" class="form-control" pattern="^(?:(\+91)?[7896]\d{9})?$" title="Please enter a valid mobile number." id="phone_no" name="phone_no" placeholder="what's your Phone number?"
                    required>
                </div>
                
                <!-- Password Field -->
                <div class="form-group">
                  <label for="password"></label>
        
                  <input type="password" class="form-control" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" 
                   title="Please enter a valid password with at least 8 characters, including numbers, alphabets, and special characters." 
                   id="password" name="password" placeholder="Password" required>
        
                </div>

                 <!-- Password Field -->
                 <div class="form-group">
                  <label for="password"></label>
        
                  <input type="password" class="form-control" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" 
                  title=" Confirm password and password do not match " 
                  id="confirmpassword" name="confirmpassword"
                    placeholder="confirm" required>
        
                </div>
    
    
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block signup_button mt-3">Sign up</button>
              </div>
      
    
                <p>Already have an account? <a href="{% url "user_login" %}" class="link-info">Login here</a></p>
    
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
</div>


{% endblock %}