{% load static %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                                <form method='POST' style="width: 23rem;">
                  
                              {% csrf_token %}
                                        {% if messages %}
                                          <div class="text-danger d-flex justify-content-center mt-2">
                                          {% for message in messages%}
                                            {{message}}
                                            {%endfor%}
                                      </div>
                                      {% endif %}
                      
                                  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register</h3>
                                  
                                  <!-- Name Field -->
                                  <div class="form-group">
                                    <label for="username"></label>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="What's your name?"
                                              required>
                                  </div>
                                  
                                  <!-- Email Field -->
                                  <div class="form-group">
                                    <label for="email"></label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="what's your email?" required>
                                  </div>
                                  
                                  <!-- Mobile No Field -->
                                  <div class="form-group">
                                    <label for="number"></label>
                                    <input type="tel" class="form-control" id="phone_no" name="phone_no" placeholder="what's your Phone number?"
                                      required>
                                  </div>
                                  
                                  <!-- Password Field -->
                                  <div class="form-group">
                                    <label for="password"></label>
                          
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                                      required>
                          
                                  </div>
                  
                                   <!-- Password Field -->
                                   <div class="form-group">
                                    <label for="password"></label>
                          
                                    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword"
                                      placeholder="confirm">
                          
                                  </div>
                      
                      
                                </div>
                                <div class="d-flex justify-content-center">
                                  <button type="submit" class="btn btn-primary btn-block signup_button mt-3">Send otp</button>
                                </div>
                        
                      
                                  <p>Already have an account? <a href="{% url "user_login" %}" class="link-info">Login here</a></p>
                      
                                </form>
                              </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="{% static "\img\logo\signup1.jpg" %}" class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="container mb-5">
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <h1>OTP Verification</h1>
            <p>Enter the 6-digit OTP sent to your email .</p>
            {% if messages %}
            <div class="text-danger d-flex justify-content-center mt-2">
                {% for message in messages%}
                {{message}}
                {%endfor%}  
            </div>
            {% endif %}
            <div class="d-flex justify-content-center">
                <form class="otp-form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="otp">Enter OTP:</label>
                        <input type="text" class="form-control" id="otp" name="otp" pattern="\d{6}" required>
                        
                    </div>
            
                    <div class="container d-flex justify-content-around  ">
                        <button type="submit" class="btn btn-info btn-block mt-2 ">Verify OTP</button>
                        <a href="{% url 'user_otp_resend' %}"><button class="btn btn-dark mt-2 ">Resend OTP</button></a>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>