
{% extends "layout/base.html" %}
{% load static %}

{% block style %}
    <!-- Include Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->
    <link href=" {% static 'css/accounts/verify.css' %}" rel="stylesheet">
    <!-- Custom CSS for Styling -->
{% endblock %}


{% block content %}

<div class="container mb-5">
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <h1>OTP Verification</h1>
            <p>Enter the 6-digit OTP sent to your email .</p>
            Time remaining:<p id = "timer" class ="text-danger"> one minute</p>
            {% if messages %}
            <div class="text-danger d-flex justify-content-center mt-2">
                {% for message in messages%}
                {{message}}
                {%endfor%}  
            </div>
            {% endif %}
            <div class="d-flex justify-content-center">
                <form class="otp-form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="otp">Enter OTP:</label>
                        <input type="text" class="form-control" id="otp" name="otp" pattern="\d{6}" required>
                        
                    </div>
            
                    <div class="container d-flex justify-content-around  ">
                        <button type="submit" class="btn btn-info btn-block mt-2 ">Verify OTP</button>
                        <a href="{% url 'user_otp_resend' %}"><button class="btn btn-dark mt-2 ">Resend OTP</button></a>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


{% endblock %}
{% block script %}

<script>

    // Countdown timer for 2 minutes (120 seconds)
    var timeleft = 60;
    var timer = setInterval(function() {
        var minutes = Math.floor(timeleft / 60);
        var seconds = timeleft % 60;

        document.getElementById('timer').innerHTML = 'Time remaining: ' + minutes + ' minutes ' + seconds + ' seconds';
        timeleft--;

        if (timeleft < 0) {
            clearInterval(timer);
            document.getElementById('timer').innerHTML = 'Time is up!';
            // Here you can perform additional actions when the timer reaches 0
            // Add your custom actions here
        }
    }, 1000); //  Update the timer every 1 second
    
</script>


{% endblock %}