{% extends "dashboard/adminhome.html" %}

{% block bootstraplink  %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock bootstraplink  %}
{% block content %}
<canvas id="myChart" style="width:100%;max-width:600px"></canvas>
{% endblock content %}






{% block script %}
<script>
    var xValues = ["USERS  ACTIVE", "USERS BLOCKEWD"];
    var yValues = [ {{user_active}}, {{user_blocked}}];
    var barColors = [
      "#b91d47",
      "#00aba9",
    ];
    
    new Chart("myChart", {
      type: "pie",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "World Wide Wine Production 2018"
        }
      }
    });
 </script>

{% endblock %}