{% comment %} 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h2 class="mt-3">Category</h2>

    <!-- Button to Open add categories Modal -->
    <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#addCategoryModal">
        Add Category
    </button>

    <!-- Modal for add categories-->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{% url 'add_categories'%}" enctype="multipart/form-data">
                   

                    <div class="modal-body">

                        <!-- Category Name Field -->
                        <div class="form-group">
                            <label for="categoryName">Category Name:</label>
                            <input type="text" class="form-control" id="categoryName" name="categoryName" required>
                        </div>

                        <!-- Category Description Field -->
                        <div class="form-group">
                            <label for="categoryDescription">Category Description:</label>
                            <textarea class="form-control" id="categoryDescription" name="categoryDescription" rows="4"
                                required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="cat_img">Category Image:</label>
                            <input type="file" class="form-control-file" id="category_img" name="category_img">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" id="submitCategory">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for edit categories-->
 
    <div class="modal fade" id="editCategoryModal-{{forloop.counter}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{% url 'edit_categories' category_id=category.id %}" enctype="multipart/form-data">
                   

                    <div class="modal-body">

                        <!-- Category Name Field -->
                        <div class="form-group">
                            <label for="categoryName">Category Name:</label>
                            <input type="text" class="form-control" id="categoryName" name="categoryName"
                                value="{{category.category_name}}" required>
                        </div>
                        <!-- Category Description Field -->
                        <div class="form-group">
                            <label for="categoryDescription">Category Description:</label>
                            <textarea class="form-control" id="categoryDescription" name="categoryDescription" rows="4"
                                required>     </textarea>
                        </div>
                        <div class="form-group">
                            <label for="cat_img">Category Image:</label>
                            <input type="file" class="form-control-file" id="category_img" name="category_img">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" id="submitCategory">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    


    <div class="text-danger d-flex justify-content-center mt-2">
         

    </div>
    
    <div class="table-responsive mt-4">
        <table class="table table-striped table-sm align-middle table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <!-- <th>category image</th> -->
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- You should dynamically populate this table with user data from your backend -->

               
                <tr class="table-rows">
                    <td> </td>
                    <td> </td>
                    <td><img src="/media/{{ category.category_image }}" width="20%"></td>
                    <td>
                        <button class="btn btn-info toggle-btn" data-toggle="modal"
                            data-target="#editCategoryModal-{{forloop.counter}}">Edit</button>

                    </td>
                    <td>
                        
                            <a href="{% url 'delete_categories' category_id=category.id %}">
                                <button class="btn btn-danger toggle-btn">Deactivate</button>
                            </a>
                        
                            <a href="{% url 'delete_categories' category_id=category.id %}">
                                <button class="btn btn-success toggle-btn">Activate</button>
                            </a>
                        
                    </td>
                </tr>
                
                <!-- Repeat this for each user -->
            </tbody>
        </table>
    </div>
</main>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous">
</script>

 {% endcomment %}
