{% extends 'dashboard/adminhome.html' %}
{% comment %} {% extends "dashboard/adminhome.html" %}
{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<main class="ms-sm-auto col-lg-12">
    <h2 class="mt-3">Category</h2>

    <!-- Button to Open add categories Modal -->
    
    
    <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#addCategoryModal">
        Add Category
    </button>


    <!-- Modal for add categories-->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{% url 'add_categories' %}" enctype="multipart/form-data">
                
                    {% csrf_token %}

                    <div class="modal-body">
                        <!-- Category Name Field -->
                        <div class="form-group">
                            <label for="categoryName">Category Name:</label>
                            <input type="text" class="form-control" id="categoryName" name="categoryName" required>
                        </div>

                        <!-- Category Description Field -->
                        <div class="form-group">
                            <label for="categoryDescription">Category Description:</label>
                            <textarea class="form-control" id="categoryDescription" name="categoryDescription" rows="4"
                                required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="cat_img">Category Image:</label>
                            <input type="file" class="form-control-file" id="category_img" name="category_img">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" id="submitCategory">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 

    <!-- Modal for edit categories-->
    {% for category in categories %}
        <div class="modal fade" id="editCategoryModal-{{forloop.counter}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="{% url 'edit_categories' category_id=category.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                            <!-- Category Name Field -->
                            <div class="form-group">
                                <label for="categoryName">Category Name:</label>
                                <input type="text" class="form-control" id="categoryName" name="categoryName"
                                    value="{{category.category_name}}" required>
                            </div>
                            <!-- Category Description Field -->
                            <div class="form-group">
                                <label for="categoryDescription">Category Description:</label>
                                <textarea class="form-control" id="categoryDescription" name="categoryDescription" rows="4"
                                    required>{{category.description}}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="cat_img">Category Image:</label>
                                <input type="file" class="form-control-file" id="category_img" name="category_img">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" id="submitCategory">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {%endfor%}

    {% if messages %}
        <div class="text-danger d-flex justify-content-center mt-2">
            {% for message in messages%}
                {{message}}
            {%endfor%}
        </div>
    {% endif %}
    <div class="table-responsive mt-4">
        <table class="table table-striped table-sm align-middle table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- You should dynamically populate this table with user data from your backend -->
                {% for category in categories %}
                    <tr class="table-rows">
                        <td>{{category.category_name }}</td>
                        <td>{{category.description }}</td>
                        <td><img src="/media/{{ category.category_image }}" width="20%"></td>
                        <td>
                            <button class="btn btn-info toggle-btn" data-toggle="modal"
                                data-target="#editCategoryModal-{{forloop.counter}}">Edit</button>
                        </td>
                        <td>
                            {% if category.is_activate %}
                                <a href="{% url 'delete_categories' category_id=category.id %}">
                                    <button class="btn btn-danger toggle-btn">Deactivate</button>
                                </a>
                            {% else %}
                                <a href="{% url 'delete_categories' category_id=category.id %}">
                                    <button class="btn btn-success toggle-btn">Activate</button>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <!-- Repeat this for each user -->
            </tbody>
        </table>
    </div>
</main>



{% endblock content %}

{% block script%}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


{% endblock %} {% endcomment %}




{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<main class="ms-sm-auto col-lg-12">
    <h2 class="mt-3">Category</h2>

    <!-- Button to Open add categories Modal -->
    <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#addCategoryModal">
        Add Category
    </button>

    <!-- Modal for add categories-->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{% url 'add_categories'%}" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="modal-body">

                        <!-- Category Name Field -->
                        <div class="form-group">
                            <label for="categoryName">Category Name:</label>
                            <input type="text" class="form-control" id="categoryName" name="categoryName" required>
                        </div>

                        <!-- Category Description Field -->
                        <div class="form-group">
                            <label for="categoryDescription">Category Description:</label>
                            <textarea class="form-control" id="categoryDescription" name="categoryDescription" rows="4"
                                required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="cat_img">Category Image:</label>
                            <input type="file" class="form-control-file" id="category_img" name="category_img">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" id="submitCategory">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for edit categories-->
    {% for category in categories %}
    <div class="modal fade" id="editCategoryModal-{{forloop.counter}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{% url 'edit_categories' category_id=category.id %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="modal-body">
                        <!-- Category Name Field -->
                        <div class="form-group">
                            <label for="categoryName">Category Name:</label>
                            <input type="text" class="form-control" id="categoryName" name="categoryName" required>
                            <div id="categoryNameError" class="text-danger"></div>
                        </div>
                    
                        <!-- Category Description Field -->
                        <div class="form-group">
                            <label for="categoryDescription">Category Description:</label>
                            <textarea class="form-control" id="categoryDescription" name="categoryDescription" rows="4" required></textarea>
                            <div id="categoryDescriptionError" class="text-danger"></div>
                        </div>
                    
                        <div class="form-group">
                            <label for="cat_img">Category Image:</label>
                            <input type="file" class="form-control-file" id="category_img" name="category_img" required>
                            <div id="categoryImageError" class="text-danger"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="submitCategory">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {%endfor%}


    {% if messages %}
    <div class="text-danger d-flex justify-content-center mt-2">
        {% for message in messages%}
        {{message}}
        {%endfor%}
    </div>
    {% endif %}
    <div class="table-responsive mt-4 mb-5">
        <table id="example" class="table table-striped table-sm align-middle table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <!-- <th>category image</th> -->
                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- You should dynamically populate this table with user data from your backend -->

                {% for category in categories %}
                <tr class="table-rows">
                    <td>{{category.category_name }}</td>
                    <td>{{category.description }}</td>
                    <td><img src="/media/{{ category.category_image }}" width="20%"></td>
                    <td>
                        <button class="btn btn-info toggle-btn" data-toggle="modal"
                            data-target="#editCategoryModal-{{forloop.counter}}">Edit</button>

                    </td>
                    <td>
                        {% if category.is_activate %}
                            <a href="{% url 'delete_categories' category_id=category.id %}">
                                <button class="btn btn-danger toggle-btn">Deactivate</button>
                            </a>
                        {% else %}
                            <a href="{% url 'delete_categories' category_id=category.id %}">
                                <button class="btn btn-success toggle-btn">Activate</button>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <!-- Repeat this for each user -->
            </tbody>
        </table>
    </div>
</main>

{% endblock%}

{% block script%}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous">
</script>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $("#submitCategory").click(function () {
            // Validate Category Name
            var categoryName = $("#categoryName").val().trim();
            if (categoryName === "") {
                $("#categoryNameError").text("Category Name cannot be empty").show();
                return;
            }
            $("#categoryNameError").hide();

            // Validate Category Description
            var categoryDescription = $("#categoryDescription").val().trim();
            var words = categoryDescription.split(/\s+/).length;
            if (words < 5) {
                $("#categoryDescriptionError").text("Category Description should have at least 5 words").show();
                return;
            }
            $("#categoryDescriptionError").hide();

            // Validate Category Image (optional: check file extension or other criteria)
            var categoryImage = $("#category_img").val();
            if (!categoryImage) {
                $("#categoryImageError").text("Please select a Category Image").show();
                return;
            }
            $("#categoryImageError").hide();

            // If all validations pass, submit the form
            $("#yourFormId").submit();
        });
    });
</script>


{% endblock %}

{% comment %} {% endblock content %}

{% block script%}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


{% endblock %} {% endcomment %}